* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.contenedor {
    display: grid;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 20% auto;
    grid-template-rows: 20% auto;
    grid-gap: 20px;
    background-color: whites;
}

.contenedor1 {
    position: fixed;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

#navbar div {
    display: flex;
    justify-content: center;
    border-bottom: 1px black solid;
    padding: 15%;
    padding-right: auto;
}

.contenedor2 {
    line-height: 5vh;
    border-left: 2px black solid;
    padding-left: 4vw;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}


.lista1,
.lista2,
.lista3,
.lista4,
.lista5 {
    margin: 20px;
}

